body {
	font-family: Helvetica, sans-serif;
	background-color: black;
}
nav {
	margin-top: 6vh;
	text-align: center;
}
.navbar {
	margin: 0 50px 0 50px;
	font-size: 1.3em;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	transition: border-bottom .5s;
	color: white;
}
.navbar:hover {
	border-bottom: 1px solid white;
}
h1 {
	color: white;
	text-align: center;
}

.hidden {
	display: none;
}